@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

.content {
    background-color: #000000;
    width: 900px;
    border: 1px solid #c09300;
    color: #fff;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("https://i.ibb.co/nTswzSt/image.png");
    background-repeat: repeat;
    background-size: 30% auto; 
    background-position: center;

    opacity: 0.5;
    pointer-events: none;
}

.topo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 80px;
}

.canto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.canto img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.canto .frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #c09300;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.canto .frase span {
    color: #1D4ED8;
    font-size: 25px;
    font-family: "Noto Serif JP", serif;
    letter-spacing: 0px;
}

.titulo {
    color: #c09300;
    font-size: 22px;
    letter-spacing: 5px;
    font-family: "Cinzel", serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-principal {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.titulo-principal::before,
.titulo-principal::after {
    content: "";
    flex: 1;
    height: 1px;
    width: 80px;
    flex-shrink: 0;
    background: linear-gradient(
        to right,
        transparent,
        #c09300,
        #c09300,
        transparent
    );
}

.titulo span {
    color: #1D4ED8;
    font-size: 12px;
    font-family: "Noto Serif JP", serif;
}

.meio {
    width: 100%;
    border-bottom: 1.5px solid #c07d00a8;
    border-top: 1.5px solid #c07d00a8;
    height: 650px;
    position: relative;
}

.meio-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.imagem-container {
    position: relative;
    width: 206px;
    height: 606px;
    z-index: 1;
    margin-top: 20px;
}

.imagem-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    background: linear-gradient(
        135deg,
        transparent,
        #c08300e5,
        #c08300e5,
        transparent,
        #c08300e5,
        transparent,
         #c08300e5,
        #c08300e5,
        #c08300e5,
        #c08300e5,
        transparent,
        #c08300e5,
        transparent,
        #c08300e5,
        #c08300e5,
        transparent,
        #c08300e5,
        #c08300e5,
        #c08300e5,
        transparent,
        #c08300e5,
        transparent,
         #c08300e5,
        #c08300e5,
        transparent,
        #c08300e5,
        #c08300e5,
        transparent,
        #c08300e5,
        transparent
    ) border-box;

    -webkit-mask:
        linear-gradient(#fff 0 0) border-box,
        linear-gradient(#fff 0 0) padding-box;

    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}

.imagem-container img {
    position: absolute;

    top: 3px;
    left: 3px;

    width: 200px;
    height: 600px;

    object-fit: cover;
    display: block;
}

.cabecalho {
    width: 75%;
    position: absolute;
    right: 0;
    border-bottom: 1px solid #c09300;
    padding: 10px 20px 20px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cabecalho::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("https://i.imgur.com/ZVA8Piq.png");
    background-repeat: no-repeat;
    background-size: 200px auto;
    background-position: calc(100% - 70px) center;

    opacity: 0.5;
    pointer-events: none;
}

.cabecalho .nome {
    font-family: "Cinzel", serif;
    font-size: 30px;
    font-weight: 600;
    color: #fffcde;
}

.cabecalho span {
    font-family: "Cinzel", serif;
    font-size: 12px;
    font-weight: 500;
    color: #1D4ED8;
}

.cabecalho span:nth-child(3) {
    font-family: "Cinzel", serif;
    font-size: 12px;
    font-weight: 500;
    color: #c09300;
}

.jp {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 30px;
    bottom: 20px;
    
}

.jp span {
    font-size: 25px;
    font-family: "Noto Serif JP", serif;
    letter-spacing: 0px;
    color: #c09300c4;
}

.status {
    width: 73%;
    height: 60px;
    display: flex;
    box-sizing: border-box;
    margin-left: 25px;
    margin-top: 135px;
    border-top: .5px solid #c0830062;
    border-bottom: .5px solid #c0830062;
}

.stts {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.stts.ea {
    border-left: .5px solid #c0830062;
    padding-right: 20px;
    border-right: .5px solid #c0830062;
}

.stts .texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-size: 25px;
    margin-right: 20px;
    overflow: hidden;
    gap: 35px
}

.stts .texto.hp h1 {
    color: #a80000;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 0px;
}

.stts .texto.hp p {
    font-family: "Cinzel", serif;
    font-size: 20px;
    font-weight: 500;
    color: #c09300;
}

.icone-saude {
    color: #a80000;
    height: 20px;
    font-size: 30px !important;
    margin-bottom: 15px;
    position: absolute;
    left: 5px;
    top: 20px;
}

.barra-hp {
    width: 130px;
    height: 5px;
    background-color: #000;
    border: 1px solid #a80000;
    margin-left: 50px;
    margin-top: -8px;
}

.barra-hp-preenchida {
    width: var(--progressoHP);
    height: 100%;
    background-color: #a80000
}

.stts .texto.ea h1 {
    color: #1D4ED8;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: -4px;
}

.stts .texto.ea p {
    font-family: "Cinzel", serif;
    font-size: 20px;
    font-weight: 500;
    color: #c09300;
    margin-bottom: 10px;
}

.barra-ea {
    width: 130px;
    height: 5px;
    background-color: #000;
    border: 1px solid #1D4ED8;
    margin-left: 50px;
    margin-bottom: 20px;
}

.barra-ea-preenchida {
    width: var(--progressoEA);
    height: 100%;
    background-color: #1D4ED8;
}

.icone-ea {
    color: #1D4ED8;
    height: 20px;
    font-size: 30px !important;
    margin-bottom: 15px;
    position: absolute;
    left: 5px;
    top: 20px;
}

.stts .texto.sani {
    gap: 10px;
    margin-left: 40px;
    margin-bottom: -10px;
}

.stts .texto.sani h1 {
    color: #4d00c9;
    font-size: 12px;
    font-weight: 100;
}

.stts .texto.sani p {
    font-family: "Cinzel", serif;
    font-size: 18px;
    font-weight: 500;
    color: #c09300;
}

.barra-sani {
    width: 130px;
    height: 5px;
    background-color: #000;
    border: 1px solid #4d00c9;
    margin-left: 50px;
    margin-bottom: 20px;
}

.barra-sani-preenchida {
    width: var(--progressoSANI);
    height: 100%;
    background-color: #4d00c9;
}

.icone-sani {
    color: #4d00c9;
    height: 20px;
    font-size: 30px !important;
    margin-bottom: 15px;
    position: absolute;
    left: -10px;
    top: 20px;
}

.textoPost {
    width:630px;
    height: 410px;
    position: absolute;
    z-index: 9;
    left: 250px;
    top: 215px;
    border-left: 1px solid #c0930054;
    border-right: 1px solid #c0930054;
    background-color: #000;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    text-align: justify;
    color: #f5f5dcb9;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

/* Largura da barra */
::-webkit-scrollbar {
  width: 2px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1D4ED8;
}

.bottom {
    padding: 10px 20px;
    position: relative;
}

.bottom::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('https://i.ibb.co/KjBxF3GB/e6e61e2d-59ae-42b2-9029-db7009325b8a.png');
    background-repeat: no-repeat;
    background-size: 55% auto;
    background-position: right center;

    opacity: 0.8;

    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        transparent 40%,
        rgba(0, 0, 0, 0.3) 50%,
        black 100%
    );

    mask-image: linear-gradient(
        to right,
        transparent 0%,
        transparent 40%,
        rgba(0, 0, 0, 0.3) 50%,
        black 100%
    );

    pointer-events: none;
}

.bottom .consideracoes {
    width: 50%;
    min-height: 60px;
    font-family: "Cinzel", serif;
    font-size: 18px;
    font-weight: 500;
    color: #1D4ED8;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.consideracoes::before,
.consideracoes::after {
    content: "";
    flex: 1;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(
        to right,
        transparent,
        #c093007e,
        #c093007e,
        transparent
    );
}
