@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

.ass-content {
    width: 700px;
    height: 220px;
    background-color: #000000;
    border: 1px solid #c09300;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ass-content::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('https://i.imgur.com/40BondU.png');
    background-repeat: no-repeat;
    background-size: 160px auto;
    background-position: 103% -30%;
    
    opacity: 0.5;
    pointer-events: none;
}



.ass-content .ass-conteudo {
    width: 685px;
    height: 205px;
    border: 1px solid;
    border-image: linear-gradient(to right, #c09300, transparent, #c09300) 1;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
    overflow: hidden;
}

.ass-content .retangulo {
    width: 70px;
    height: 50px;
    position: absolute;
    border: 1px solid #c09300;
    top: -45px;
    left: calc(50% - 40px);
    z-index: 4;
    border-radius: 10px;
}

.ass-content .retangulo::before {
    content: '';
    width: 70px;
    height: 50px;
    position: absolute;
    border: 1px solid #c09300;
    top: 242px;
    left: calc(50% - 40px);
    z-index: 4;
    border-radius: 10px;
}

.ass-content .ass-conteudo::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('https://i.imgur.com/05nVVVQ.png');
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position: 130% 0;

    opacity: 0.8;
    pointer-events: none;
    z-index: 0;
    
}

.ass-content .ass-conteudo::after {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #000000;

    opacity: 0.6;
    z-index: 2;
}

.ass-content .ass-imagecontent {
    width: 156px;
    height: 156px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #c09300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    z-index: 4;
}

.ass-content .ass-imagecontent::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 140px;
    background-color: #c09300;
    z-index: 4;
    margin-left: 220px;
}

.ass-content .ass-imagecontent img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #c09300;
    z-index: 4;
}

.ass-content .ass-descricoes {
    width: 60%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
}

.ass-content span {
    color: #1D4ED8;
}

.ass-content .assnome {
    background-image: linear-gradient(to bottom, #d3d0c6, #d3d0c6, #c09300);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: 'Cinzel', sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.ass-content .assmenu {
    height: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    gap: 10px;
}

.ass-content .assmenu .assbotoes {
    padding: 10px 20px;
    background-color: #1d4fd81c;
    backdrop-filter: blur(10px);
    color: #d3d0c6b9;
    border: 1px solid #c09300a4;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.ass-content .assmenu .assbotoes:hover {
    padding: 15px 25px;
    color: #c09300a4;
    box-shadow: #c09300b2 0px 2px, #c0930088 0px 4px, #c093005d 0px 6px, #c093002d 0px 8px, #c0930013 0px 10px;
}
